# Ignore everything by default
*

# Allow directories for traversal
!*/

# Keep Git ignore file, C++ sources, and PDFs
!.gitignore
!Module 1/
!*.cpp
!*.pdf

# Explicitly ignore build artifacts and IDE configuration
build/
.vscode/
